.AccountPage
  .AccountPageHeader
    %h1
      = link_to image_tag("material/logo/logo.png", alt: "FURIMAアプリのロゴ画像", width: '180', height: '50'), root_path, class: "LogoImage"
  .AccountPageMain
    .LoginNoAccount
      %p アカウントをお持ちではない方はこちら
      = link_to '新規会員登録', new_user_registration_path, class: "SignUpBtn"
    .LoginForm
      = form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f|
        .Field
          = f.label :ニックネーム
          %br/
          = f.text_field :nickname, autofocus: true
        .Field
          = f.label :email
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email"
        .Field
          = f.label :password
          - if @minimum_password_length
            %em
              (#{@minimum_password_length} characters minimum)
          %br/
          = f.password_field :password, autocomplete: "new-password"
        .Field
          = f.label :password_confirmation
          %br/
          = f.password_field :password_confirmation, autocomplete: "new-password"
        .Actions
          = f.submit "Sign up"
  .AccountPageFooter
    %ul.AccountPageFooter__lists
      %li.AccountPageFooter__list
        = link_to 'プライバシーポリシー', '#', class: "FooterContent"
      %li.AccountPageFooter__list
        = link_to 'FURIMA利用規約', '#', class: "FooterContent"
      %li.AccountPageFooter__list
        =link_to '特定商取引に関する表記', '#', class: "FooterContent"