.AccountPage
  .AccountPageHeader
    %h1
      = link_to image_tag("material/logo/logo.png", alt: "FURIMAアプリのロゴ画像", width: '180', height: '50'), root_path, class: "LogoImage"
  .AccountPageSignUp
    %h2.registration
      会員情報入力
    .LoginForm
      = form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f|
        .Field
          = f.label :ニックネーム
          %span.form--caution 
            必須
          %br/
          = f.text_field :nickname, autofocus: true
        .Field
          = f.label :メールアドレス
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email"
        .Field
          = f.label :パスワード
          %br/
          = f.password_field :password, autocomplete: "new-password"
        .Field
          %h3
            本人確認
            %p
              安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
        .Field
          = f.label :お名前（全角）
          %br/
          = f.text_field :first_name_kana, autocomplete: "true"
          = f.text_field :last_name_kana, autocomplete: "true"
        .Field
          = f.label :生年月日
          %br/
          = f.text_field :birth_year, autocomplete: "true"
          = f.text_field :birth_month, autocomplete: "true"
          = f.text_field :birth_day, autocomplete: "true"
        .Actions
          = f.submit "Sign up"
  .AccountPageFooter
    %ul.AccountPageFooter__lists
      %li.AccountPageFooter__list
        = link_to 'プライバシーポリシー', '#', class: "FooterContent"
      %li.AccountPageFooter__list
        = link_to 'FURIMA利用規約', '#', class: "FooterContent"
      %li.AccountPageFooter__list
        =link_to '特定商取引に関する表記', '#', class: "FooterContent"