.AccountPage
  = render partial: 'devise/shared/header'
  .AccountPageSignUp
    %h2.Registration
      会員情報の登録
    .SignUpForm
      = form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f|
        .FormContent
          .Field
            = f.label :ニックネーム
            %span.RequiredItem
              必須
            %br/
            = f.text_field :nickname, autofocus: true, placeholder: "例)フリマ太郎", class: "Field__InputBox"
            = render "devise/shared/error_messages", model: @user, attribute: :nickname
          .Field
            = f.label :メールアドレス
            %span.RequiredItem
              必須
            %br/
            = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "PC・携帯どちらでも可", class: "Field__InputBox"
            = render "devise/shared/error_messages", model: @user, attribute: :email
          .Field
            = f.label :パスワード
            %span.RequiredItem
              必須
            %br/
            = f.password_field :password, autocomplete: "new-password", placeholder: "7文字以上の半角英数字", class: "Field__InputBox"
            %p.FormInfoText
              ※ 英字と数字の両方を含めて設定してください
            = render "devise/shared/error_messages", model: @user, attribute: :password
          .Field
            = f.label :パスワード（確認用）
            %span.RequiredItem
              必須
            %br/
            = f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "もう一度入力してください", class: "Field__InputBox"
          .ShowPassword
            = f.check_box class: "ShowPassword__CheckBox"
            = f.label :パスワードを表示する, class: "ShowPassword__Text"
            = render "devise/shared/error_messages", model: @user, attribute: :password_confirmation
          .Field
            %h3
              本人確認
            %p
              安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
          .Field
            = f.label :お名前（全角）
            %span.RequiredItem
              必須
            %br/
            .Field__MultiInputBox
              = f.text_field :last_name, autocomplete: "true", placeholder: "例)山田", class: "Field__InputBoxHalf"
              = f.text_field :first_name, autocomplete: "true", placeholder: "例)太郎", class: "Field__InputBoxHalf"
            = render "devise/shared/error_messages", model: @user, attribute: :last_name
            = render "devise/shared/error_messages", model: @user, attribute: :first_name
          .Field
            = f.label :お名前カナ（全角）
            %span.RequiredItem
              必須
            %br/
            .Field__MultiInputBox
              = f.text_field :last_name_kana, autocomplete: "true", placeholder: "例)ヤマダ", class: "Field__InputBoxHalf"
              = f.text_field :first_name_kana, autocomplete: "true", placeholder: "例)タロウ", class: "Field__InputBoxHalf"
            = render "devise/shared/error_messages", model: @user, attribute: :last_name_kana
            = render "devise/shared/error_messages", model: @user, attribute: :first_name_kana
          .Field
            = f.label :生年月日
            %span.RequiredItem
              必須
            %br/
            .Field__MultiInputBox
              = f.text_field :birth_year, autocomplete: "true", class: "Field__SelectBox"
              %span
                年
              = f.text_field :birth_month, autocomplete: "true", class: "Field__SelectBox"
              %span
                月
              = f.text_field :birth_day, autocomplete: "true", class: "Field__SelectBox"
              %span
                日
            = render "devise/shared/error_messages", model: @user, attribute: :birth_year
            = render "devise/shared/error_messages", model: @user, attribute: :birth_month
            = render "devise/shared/error_messages", model: @user, attribute: :birth_day
          %p.FormInfoText
            ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
          .Actions
            = f.submit "次へ", class: "ActionBtn"
  = render partial: 'devise/shared/footer'