.side-bar
  %ul.my-page
    %li
      = link_to "マイページ", user_path(current_user.id)
    %li
      = link_to "出品する", new_item_path
    %li
      = link_to "出品した商品", sales_items_user_path(current_user.id)
    %li
      = link_to "売却済みの商品", sold_items_user_path(current_user.id)
    %li
      = link_to "購入した商品"
    %li
      = link_to "プロフィール"
    %li
      = link_to "発送元・お届け先住所変更"
    %li
      = link_to "クレジットカード登録・変更", new_card_path(current_user.id)
    %li
      = link_to "メール・パスワード"
    %li
      = link_to "本人情報"
    %li
      = link_to "ログアウト", logout_user_path(current_user.id)