= render partial: 'items/header'

.my-page-main
  = render partial: "side_bar"
  .User-my-page
    %h1 出品中の商品
    .User-my-page__main
      - @sales_items.each do |sales_item|
        .My-page-content
          = link_to '', edit_item_path(sales_item.id)
          .My-page-content__image
            = image_tag(sales_item.images.first.src.url, alt: '商品画像', width: '120px', height: '120px')
          .My-page-content__contents
            %h1= sales_item.name
            .My-page-content__contents--price
              %span 税込価格
              %p= sales_item.price
            .My-page-content__contents--explain
              %span 商品説明
              %p= sales_item.explain

= render partial: 'items/footer'