.wrapper
  = render partial: 'items/header'

.my-page-main
  = render partial: "side_bar"

  .main-content
    .main-content__photo
      = link_to image_tag('material/icon/member_photo_noimage_thumb.png' , alt: 'プロフィール画像', :size => '200x200')
    .main-content__name
      name
    .main-content__text

= render partial: 'items/sell_btn'
= render partial: 'items/footer_invitation'
= render partial: 'items/footer'