.footer
  .footer-content
    %ul.left-content
      %h2 FURIMAについて
      %li= link_to "会社概要(運営会社)"
      %li= link_to "プライバシーポリシー"
      %li= link_to "FURIMA利用規約"
      %li= link_to "ポイントに関する特約"
    %ul.center-content
      %h2 FURIMAを見る
      %li= link_to "カテゴリー一覧"
      %li= link_to "ブランド一覧"
    %ul.right-content
      %h2 ヘルプ＆ガイド
      %li= link_to "FURIMAガイド"
      %li= link_to "FURIMAロゴ利用ガイドライン"
      %li= link_to "お知らせ"
  .footer-logo
    = image_tag 'material/logo/logo-white.png' , alt: '使用例の画像', :size => '180x50'
  .footer-copyright
    ©︎FURIMA