.header
  .header-top
    .header-top__logo
      = link_to image_tag('material/logo/logo.png' , alt: '使用例の画像', :size => '140x40'), root_path
    %form.header-top__search-bar
      %input.item-search{name: "keyword", placeholder: "キーワードから探す", type: "search", value: ""}
      .search-icon
        = image_tag 'material/icon/icon-search 1.png', alt: '検索ボタン', class: "search-icon_btn"
  .header-bottom
    %ul.header-bottom__left
      %li 
        =link_to "カテゴリーから探す"
      %li 
        =link_to "ブランドから探す"
    .header-bottom__right
      - if user_signed_in?
        = link_to "マイページ", "/users/:id"
      - else
        = link_to "ログイン", new_user_session_path, class: "post"
        = link_to "新規登録", new_user_registration_path, class: "post", data: {"turbolinks": false}