.header
  .header-top
    .header-top__logo
      = link_to image_tag('material/logo/logo.png' , alt: 'ロゴ', size:'140x40'), root_path
    
    = form_with url: search_items_path, local: true, method: :get, class: "header-top__search-bar" do |f|
      = f.text_field :keyword, placeholder: "キーワードから探す", class: "item-search"
      %label.search-btn
        .search-icon
          = image_tag 'material/icon/icon-search 1.png', alt: '検索ボタン', class: "search-icon_btn"
        = f.submit "検索"

  .header-bottom
    %ul.header-bottom__left
      %li 
        =link_to "カテゴリーから探す"
      %li 
        =link_to "ブランドから探す"
    .header-bottom__right
      - if user_signed_in?
        = link_to "マイページ", user_path(current_user.id)
      - else
        = link_to "ログイン", new_user_session_path, class: "post"
        = link_to "新規登録", new_user_registration_path, class: "post"

= breadcrumbs separator: " &rsaquo; "