= render partial: 'header'

.Search
  .Search__side

  .Search__main
    .Search__main--title
      - if @keyword == ""
        .bold すべての商品
      .bold= @keyword
      %span の検索結果
      .Search__main--title__count
        = @items.length
        %span 件表示
    .Search__main--contents
      - if @items.length == 0
        %p お探しの商品は見つかりませんでした
      - @items.each do |item|
        .Searched-item
          = link_to '', item_path(item.id)
          = image_tag(item.images.first.src.url)
          .Searched-item__price
            %span ¥
            %span= item.price
          .Searched-item__name
            = item.name


= render partial: 'sell_btn'
= render partial: 'footer_invitation'
= render partial: 'footer'