= render partial: 'header'

.showMain
  .itembox
    %h1.itembox__name
      = @item.name
    .itembox__body
      %ul
        %li
          = image_tag 'https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/18/beef.JPG', size: "560x346"
          %ul
            %li
              = image_tag 'https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/18/beef.JPG', size: "140x87"
    .itembox__price
      %span
        ¥
        =@item.price
      .itembox__price__detail
        %span
          (税込)
        %span
          送料込み
    .itemDetail
      =@item.explain
    .itemTable
      %table
        %tbody
          %tr
            %th 出品者
            %td 
              =@item.user.nickname
          %tr
            %th カテゴリー
            - @parents.each do |parent|
              - if @item.category_id == parent.id
                %td
                  = link_to "#" do
                    = parent.parent.parent.name #親カテゴリー
                    %br
                  = link_to "#" do
                    = parent.parent.name #子カテゴリー
                    %br
                  = link_to "#" do
                    = parent.name #孫カテゴリー
          %tr
            %th
              ブランド
            %td
          %tr
            %th
              商品のサイズ
            %td
          %tr
            %th
              商品の状態
            %td
              = @item.item_status.choice
          %tr
            %th
              配送料の負担
            %td
              = @item.postage.choice
          %tr
            %th
              発送元の地域
            %td
              = @item.prefecture.name
          %tr
            %th
              発送日の目安
            %td
              = @item.shipping_date.choice

    .optionalBtn
      .optionalBtn__likeBtn
        = icon('fa', 'star')
        お気に入り１
      .optionalBtn__hata
        = icon('fa', 'flag')
        = link_to '不適切な商品の通報', root_path, class: 'optionalBtn__hata__link'

  .commentBox
    -if user_signed_in?
      %p.commentBox__noticeMsg
        相手のことを考え丁寧なコメントを心がけましょう。
        %br
        不快な言葉遣いなどは利用制限や退会処分となることがあります。
      %textarea.commentBox__Form{type: "textarea", placeholder: ' ',rows:' 5 '}
      
      %button.commentBox__commentBtn{type: "submit"}
        = icon('fa', 'comment')
        コメントする
    - else
      %p.commentBox__noticeMsg
        相手のことを考え丁寧なコメントを心がけましょう。
        %br
        不快な言葉遣いなどは利用制限や退会処分となることがあります。
      %textarea.commentBox__Form{type: "textarea", placeholder: ' ',rows:' 5 '}
      %p.not_comment
        ※商品の購入、コメントの投稿には新規会員登録/ログインが必要です※
  .links
    .links__before
      = icon('fa', 'angle-left', class: "links__before__icon")
      = link_to '前の商品', root_path, class: 'links__before__Btn'
    .links__after
      = link_to '後ろの商品', root_path, class: 'links__after__Btn'        
      = icon('fa', 'angle-right', class: "links__after__icon")

  .relatedItems
    = link_to 'レディースをもっと見る', root_path, class: 'relatedItems__Btn'
    .productLists
      .productList
        = link_to '', root_path
        = image_tag('https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/7/a001.png', alt: '商品の画像', class: 'productList__img')
        .productList__body
          %p.productList__body__name product1
          .productList__body__details
            %ul.productList__body__details__kakaku
              %li.productList__body__details__yen 10000円
              %li.productList__body__details__kakaku__icon
                = icon('fa', 'star')
                1
            %p.productList__body__details__zei (税込)

= render partial: 'sell_btn'
= render partial: 'footer_invitation'
= render partial: 'footer.html.haml'
