- @parents.each do |parent|
  - if @item.category_id == parent.id
    = link_to "#" do
      = parent.parent.parent.name #親カテゴリー
      %br
    = link_to "#" do
      = parent.parent.name #子カテゴリー
      %br
    = link_to "#" do
      = parent.name #孫カテゴリー