%table.product-details__page__main__content__right
  %tbody
    %tr
      %th 出品者
      %td
        =@item.user.nickname
- @parents.each do |parent|
  - if @item.category_id == parent.id
    = link_to "#" do
      = parent.parent.parent.name #親カテゴリー
      %br
    = link_to "#" do
      = parent.parent.name #子カテゴリー
      %br
    = link_to "#" do
      = parent.name #孫カテゴリー
.product-buy__btn__box
%ul.more_list
  %li
    -# = link_to '詳細', "/items/#{@item.id}", method: :get
    -# ←ここ!!
  - if current_user.id == @item.user_id
    = link_to '編集', "/items/#{@item.id}/edit", method: :get
    = link_to '削除', "/items/#{@item.id}", method: :delete
  - elsif user_signed_in?
    = link_to "購入画面に進む", buy_item_path(@item.id), data: {"turbolinks" => false} , class: "pay"
-if user_signed_in?
  %form.text_area 
  %p.note
    相手のことを考え丁寧なコメントを心がけましょう。
    %br 不快な言葉遣いなどは利用制限や退会処分となることがあります。
  %button.submit 
    コメントする
- else
  %p.note
    商品の購入、コメントの投稿には新規会員登録/ログインが必要です
