= render partial: 'items/header'

.card-page
  .card
    = render partial: "users/side_bar"
    .card__main
      .card__main__title
        %h2 クレジットカード情報入力
      .card__main__info
        = form_with url: pay_cards_path, method: :post, html: { name: "inputForm" } do |f|
          .card__main__number
          = f.label :カード番号
          %span.RequiredItem
            必須
          = f.text_field :card_number, type: 'text', class: 'number', placeholder: '半角数字のみ/16桁', maxlength: "16"
          %ul
            %li
              = image_tag "https://www-mercari-jp.akamaized.net/assets/img/card/visa.svg?238737266",width:"49px",height:"20px"
            %li
              = image_tag "https://www-mercari-jp.akamaized.net/assets/img/card/master-card.svg?238737266",width:"34px",height:"20px"
            %li
              = image_tag "https://www-mercari-jp.akamaized.net/assets/img/card/saison-card.svg?238737266",width:"30px",height:"20px"
            %li
              = image_tag "https://www-mercari-jp.akamaized.net/assets/img/card/jcb.svg?238737266",width:"32px",height:"20px"
            %li
              = image_tag "https://www-mercari-jp.akamaized.net/assets/img/card/american_express.svg?238737266",width:"21px",height:"20px"
            %li
              = image_tag "https://www-mercari-jp.akamaized.net/assets/img/card/dinersclub.svg?238737266",width:"32px",height:"20px"
            %li
              = image_tag "https://www-mercari-jp.akamaized.net/assets/img/card/discover.svg?238737266",width:"32px",height:"20px"
          .card__main__expiration-date
            = f.label :有効期限
            %span.RequiredItem
              必須
            .card__main__multi-input-box
              = f.select :exp_month, [["01",1],["02",2],["03",3],["04",4],["05",5],["06",6],["07",7],["08",8],["09",9],["10",10],["11",11],["12",12]],{} , class: 'exp_month'
              %span 月
              = f.select :exp_year, [["20",2020],["21",2021],["22",2022],["23",2023],["24",2024],["25",2025],["26",2026],["27",2027],["28",2028],["29",2029],["30",2030]],{} , class: 'exp_year'
              %span 年
          .card__main__security-code
          = f.label :セキュリティコード
          %span.RequiredItem
            必須
          = f.text_field :cvc, type: 'text', class: 'cvc', placeholder: 'カード背面4桁もしくは3桁の番号', maxlength: "4"
          .card__main__submit
            #card_token
            = f.submit '追加する', class: 'btn', id: 'token_submit'

= render partial: 'items/sell_btn'
= render partial: 'items/footer_invitation'
= render partial: 'items/footer'